{% import 'macros.html' as macros %}
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-166042318-1');
        </script>
        <meta charset="utf-8">
        <title>Rankings</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
        
    </head>
    {% block body %}
    {{ macros.render_nav(user) }}
    <body>
        <h1 class="display-4">Archives</h1>
        <div style="width: 300px;
        border: 25px blue;
        padding: 10px;
        margin: 20px;">
            <h3>2020</h3>
            <ul>
                <li style="font-size: 20px;"><a href="/static/files/opho2020_open.pdf" style="color:cornflowerblue">Open Paper</a></li>
                <li style="font-size: 20px;"><a href="/static/files/opho2020_open_sols.pdf" style="color:cornflowerblue">Open Solutions</a></li>
                <li style="font-size: 20px;"><a href="/static/files/opho2020_invi.pdf" style="color:cornflowerblue">Invitational Paper</a></li>
                <li style="font-size: 20px;"><a href="/2020/rankings" style="color:cornflowerblue">Open Rankings</a></li>
                <li style="font-size: 20px;"><a href="/2020/invitational_rankings" style="color:cornflowerblue">Invitational Rankings</a></li>
                <li style="font-size: 20px;"><a href="/2020/invitational_rankings" style="color:cornflowerblue">Invitational Rankings</a></li>
            </ul>
        </div>
    </body>
    {% endblock %}
    
</html>