{% import 'macros.html' as macros %}
{% extends 'base.html' %}

<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-166042318-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <title>OPhO Contest Page</title>
    <link rel="stylesheet" href="/static/css/contest.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->

  </head>
  {% block body %}
  {{ macros.render_nav(user) }}
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">OPHO Home Page</h1>

          <div class="alert alert-light" role="alert">
            If you enjoyed this competition, check out the <a href=https://online.fyziklani.cz/en/>Online Physics Brawl</a>, a three-hour long online team competition happening in November!
          </div>

          <p class="lead">The Online Physics Olympiad (OPhO) is an annual team based physics competition for both high school students and undergraduates of all levels. Teams of up to three will compete in two stages:</p>
          <ul>
            <li class="lead">Open: An exciting multi-day competition where teams race against each other to solve questions with numerical answers, ranging from the standard high school curriculum to the International Physics Olympiad level. Both speed and accuracy will be important.</li>
            <li class="lead">Invitational: Top teams will be invited to the Invitational round, where they will submit full solutions to more challenging multi-part questions. Solutions will be marked by the OPHO team.</li>
          </ul>
          <p class="lead"><span class="badge badge-info">New</span> From the feedback we have received, we may run the 2021 competition slightly differently. As a result: the number of questions, the time allotted, and the dates of the competition have not yet been finalized.</p>
        </div>
      </div>
      <div class="card-group" style="margin-left:20px; margin-right: 20px;">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">2020 Results</h5>
            <p class="card-text">The 2020 contest has ended! You can view the round rankings for both parts below. Congratulations to everyone who participated!</p>
            <a href="/rankings" class="btn btn-info">Open Results</a>
            <a href="/invitational_rankings" class="btn btn-info">Invitational Results</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Past Contests</h5>
            <p class="card-text">View the 2020 contest below. Feel free to discuss the problems <a href="https://artofproblemsolving.com/community/c1182969_opho_open">here (open)</a> and <a href="https://artofproblemsolving.com/community/c1222116_opho_invitational_round">here (Invitational).</a></p>
            <a href="/static/files/opho2020_invi.pdf" class="btn btn-info">2020 Open Paper</a>
            <a href="/static/files/opho2020_open.pdf" class="btn btn-info">2020 Invitational Paper</a>
          </div>
        </div>
    </div>
    <div class="card-group" style="margin-left:20px; margin-right: 20px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Winners</h5>
          <p class="card-text">Meet the winners of OPhO 2020 and see what past contestants have to say!</p>
          <a href="/winners" class="btn btn-info">Winners 2020</a>
      </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Meet the team!</h5>
          <p class="card-text">Meet the team who made OPhO possible!</p>
          <a href="/team" class="btn btn-info">See Team</a>
        </div>
      </div>
    </div>  
    <br>
      <div style="margin-left:40px; margin-right: 40px;">
        <h1 class="display-5">Sponsors</h1>
        <p class="lead">It is only with the help of our sponsors that we are able to run our event and provide prizes. Last year, over 600 students competed from over 40 countries!</p>
        <ul>
          <li class="lead">Wolfram Research</li>
            <li class="lead">AwesomeMath | Competitive Physics</li>
            <li class="lead">PhysOlymp</li>
            <li class="lead">Art of Problem Solving</li>
          </ul>
          <center>
            <div>
              <a href=https://www.wolfram.com/wolfram-one><img src="/static/files/wolfram.PNG" width=15%/></a>
              <a href=https://www.awesomemath.org/academy/online-courses/#tab-id-4><img src="/static/files/awesome-math.png" width=30%/></a>
              <a href=https://www.physolymp.com><img src="/static/files/physolymp.jpg" width=10%/></a>
              <a href=https://www.artofproblemsolving.com><img src="/static/files/aops.png" width=15%/></a>
            </div>
          </center>
      </div>
      <br><br><br><br>



    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  {% endblock %}
</html>