{% import 'macros.html' as macros %}
{% extends 'base.html' %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <title>OPhO Contest Page</title>


  </head>
  {% block body %}
  {{ macros.render_nav(user) }}
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Contest Page</h1>
          <p class="lead">The contest paper is available <a href="#">here</a></p>
        </div>
    </div>

    <h2 class="display-4">Stats</h2>
    <div class="card">
        <div class="card-body">
          <p id="solved">Problems Solved: {{ team_stats.problems_solved }} </p>
          <p id="ranking"> Ranking: {{ team_stats.rank }} </p>
        </div>

    </div>

   
    <div id="contestform" action="api/answer_submit" name="{{ user.username }}">
      <table class="table">
        <tr>
          <th>No.</th>
          <th>Answer</th>
          <th>Submit</th>
          <th>Result</th>
          <th>Attempts left</th>
          <th>Attempts</th>
        </tr>
      {% for problem in problems %}
      <tr>
      <td><label for="{{ problem.number }}" class="control-label">{{ problem.number }}</label></td>
      {% if problem.solved %}
      <td><input class="form-control" id="input{{ problem.number }}" name="{{ problem.number }}" value="{{ problem.answers[-1] }}" disabled></td>
      <td><input class="btn btn-primary" type="submit" id = '{{ problem.number }}' name="{{ problem.number }}" onclick="submitOnClick(this, '{{ problem.number }}')" disabled></td>
      <td><img id="imgright{{ problem.number }}" src="https://img.icons8.com/doodle/48/000000/checkmark.png"/></td>
      {% elif problem.attempts == 3 %}
      <td><input class="form-control" id="input{{ problem.number }}" name="{{ problem.number }}" value="{{ problem.answers[-1] }}" disabled></td>
      <td><input class="btn btn-primary" type="submit" id = '{{ problem.number }}' name="{{ problem.number }}" onclick="submitOnClick(this, '{{ problem.number }}')" disabled></td>
      <td><img id="imgwrong{{ problem.number }}" src="https://img.icons8.com/ios/50/000000/circled-x.png"/></td>      
      {% else %}
      <td><input class="form-control" id="input{{ problem.number }}" name="{{ problem.number }}">
        <small id="answerHelp{{ problem.number }}" class="form-text text-muted"></small>
      </td>
      <td><input class="btn btn-primary" type="submit" id = '{{ problem.number }}' name="{{ problem.number }}" onclick="submitOnClick(this, '{{ problem.number }}')"></td>
      <td id="imagebox{{ problem.number }}"></td>
      {% endif %}
      <td id="attempts{{ problem.number }}">{{ 3 - problem.attempts }}</td>
      <td id = "answers{{ problem.number }}">
        {% if problem.answers is not none %}
        {{ problem.answers|join(', ') }}      
        {% endif %}
      </td>
      </tr>
      {% endfor %}
    
    </table>
  </div>
      

    <script>
      function submitOnClick(elmnt, buttonNumber) {
        
        let inputField = $("#input"+buttonNumber);
        let inputVal = inputField.val();
        let answersCell = $("#answers"+buttonNumber);
        let attemptsCell = $("#attempts"+buttonNumber);

        if (inputVal === "" || isNaN(inputVal)) {
          console.log("Please enter a valid number");
          return false;
        }

        $('#'+buttonNumber).prop('disabled', true);

        let postData = [{name:"problem_no", value: buttonNumber}, {name:"answer", value: inputVal}, {name : "teamname", value : $("#contestform").attr("name")}]
        $.ajax(
        {
            url : "api/answer_submit",
            type: "POST",
            data: postData,
            beforeSend: function (xhr) {
              xhr.setRequestHeader('Authorization', 'pdsYU81fnsdfku33-zz6dhsy9GHFe');
            },
            success:function(data, textStatus, jqXHR) 
            {
                //data: return data from server
                console.log("we made it");
                console.log(data);
                if (data.correct) {
                  inputField.prop('disabled', true);
                  $('#'+buttonNumber).prop('disabled', true);
                  $('#imgright'+buttonNumber).show();
                  $('#imagebox'+buttonNumber).html('<img src="https://img.icons8.com/doodle/48/000000/checkmark.png" />');
                  $("#answerHelp"+buttonNumber).html("Correct!")
                } else if (data.attempts_left === 0) {
                  inputField.prop('disabled', true);
                  $('#'+buttonNumber).prop('disabled', true);
                  $('#imagebox'+buttonNumber).html('<img src="https://img.icons8.com/ios/50/000000/circled-x.png" />');
                  $("#answerHelp"+buttonNumber).html("Out of attempts")
                } else {
                  $("#answerHelp"+buttonNumber).html("Incorrect. Please try again. ")
                  inputField.val('');
                  $('#'+buttonNumber).prop('disabled', false);
                }

                console.log("ANSWERS: " + data.answers)

                answersCell.html(data.answers.join(", "));
                attemptsCell.html(data.attempts_left);

                console.log("problems solved: ", data.problems_solved)
                $("#solved").html("Problems Solved: " + data.problems_solved);
                $("#ranking").html("Ranking: " + data.rank);
                
                

            },
            error: function(jqXHR, textStatus, errorThrown) 
            {
                //if fails      
            }
        });

        console.log('buttonPressed: ' + buttonNumber);
        console.log(inputField.val());
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  {% endblock %}
</html>