{% import 'macros.html' as macros %}
{% extends 'base.html' %}

<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-166042318-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <title>OPhO Contest Page</title>
    <link rel="stylesheet" href="/static/css/contest.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->

  </head>
  {% block body %}
  {{ macros.render_nav(user) }}
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">OPHO Home Page</h1>
          <p class="lead">The Online Physics Olympiad (OPhO) is an annual team based physics competition for both high school students and undergraduates of all levels. Teams of up to three will compete in the open round and invitational round.</p>
          <p class="lead">The 2022 open contest will take place from June 10-12, and the 2022 invitational contest will take place from July 4-7.</p>
          <p class="lead" style="border:3px; border-style:solid; border-color:solid green; padding: 1em;">Register for the 2022 Online Physics Olympiad <a href="https://forms.gle/TWaPrhY611YZLSmF8"><u>here</u></a>.</p>
          <p class="lead">Please check out the <a href="/archives">archives</a> to view past Open and Invitational question papers and solutions.</p>

          <!--
            <div class="alert alert-info" role="alert">
            <img src="static/files/online_physics_brawl_en_logo.png" height="40em"/><br>

            If you enjoyed this competition, you may like the <a href="https://physicsbrawl.org/"><b>Online Physics Brawl</b></a>, a 3-hour team competition, which initially inspired our competition, happening on November 24 2021!
          </div>
          -->


        </div>
        <!-- <div data-type="countdown" data-id="2581810" class="tickcounter" style="width: 60%; position: relative; margin: auto; padding-bottom: 25%"><a href="//www.tickcounter.com/countdown/2581810/opho-ends-in" title="OPhO Ends In">OPhO Ends In</a><a href="//www.tickcounter.com/" title="Countdown">Countdown</a></div><script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script> -->
      </div>
      <div class="card-group" style="margin-left:20px; margin-right: 20px;">
        <div class="card">
          <div class="card-body">
            <!--
            <h4 class="card-title">Contest Portal</h5>
            <p class="card-text">Enter the contest portal to submit answers. Closed on June 7 at 12 am UTC.</p>
            {% if in_time_open %}
            <a href="/contest" class="btn btn-info">Contest Portal</a>
            {% else %}
            <button type="button" class="btn btn-info" disabled>Contest Portal</button>
            {% endif %}
            -->
            <h4 class="card-title">Invitational Portal</h5>
              <p class="card-text">Enter the invitational portal to view the paper. Opens August 13, 00:01 am GMT</p>
              <a href="/invitational" class="btn btn-info">Portal</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Archives</h5>
            <p class="card-text">See previous year's problems, solutions, and results.</p>
            <a href="/archives" class="btn btn-info">Archives</a>
          </div>
        </div>
    </div>
    <div class="card-group" style="margin-left:20px; margin-right: 20px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Winners</h5>
          <p class="card-text">Meet the winners of OPhO 2020 and see what past contestants have to say!</p>
          <a href="/winners" class="btn btn-info">Winners 2020</a>
      </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Meet the team!</h5>
          <p class="card-text">Meet the team who made OPhO possible!</p>
          <a href="/team" class="btn btn-info">See Team</a>
        </div>
      </div>
    </div>  
    <br>
      <div style="margin-left:40px; margin-right: 40px;">
        <h1 class="display-5">Sponsors</h1>
        <p class="lead">It is only with the help of our sponsors that we are able to run our event and provide prizes. Last year, hundreds of teams competed with students from over 40 countries!</p>
        <ul>
          <li class="lead">Jane Street</li>
          <li class="lead">Wolfram</li>
            <li class="lead">AwesomeMath | Competitive Physics</li>
            <li class="lead">Beyond The Big Bang Youtube/Podcast</li>
            <li class="lead">PhysOlymp</li>
            <li class="lead">Art of Problem Solving</li>
        </ul>
        <p class="lead">Here's a sneak peak at some of our prizes:</p>
        <ul>
          <li class="lead">Top three teams will receive cash prizes.</li>
          <li class="lead">Premium memberships for the newly released PhysOlymp site.</li>
            <li class="lead">Subscriptions to Wolfram's Alpha Notebook Edition</li>
            <li class="lead">and more!</li>
        </ul>
          <center>
            <div>
              <a href=https://www.janestreet.com/><img src="/static/files/jane-street.png" width=15%/></a>
              <a href=https://www.wolfram.com/wolfram-alpha-notebook-edition/><img src="https://content.wolfram.com/uploads/sites/10/2016/06/wolfram-language-text-logo.png" width=10%/></a>
              <a href=https://www.awesomemath.org/academy/online-courses/#tab-id-4><img src="/static/files/awesome-math.png" width=15%/></a>
              <a href=https://www.youtube.com/channel/UCxkT0EuJe5aa5LWXWhKORzQ><img src="/static/files/btbb.png" width=6%/></a>
              <a href=https://www.physolymp.com><img src="/static/files/physolymp.jpg" width=5%/></a>
              <a href=https://www.artofproblemsolving.com><img src="/static/files/aops.png" width=10%/></a>
            </div>
          </center>
      </div>
      <br><br><br><br>



    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  {% endblock %}
</html>