{% import 'macros.html' as macros %}
{% extends 'base.html' %}

<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-166042318-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <title>OPhO Contest Page</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
    

  </head>
  {% block body %}
  {{ macros.render_nav(user) }}
  <body style="background-color:grey">
    <p  style="font-size:30px; color: white">The invitational round will take place from July 3, 12:00 AM UTC to July 6, 12:00 AM UTC.</p>
    <p  style="font-size:30px; color: white">Submit your answers <a href="https://forms.gle/oktyYMytrMuBG3cc7">here</a></p>
    <p style="font-size:15px">Clarifications doucment can be found <a href="https://docs.google.com/document/d/1V7fhbn7hb_mmpxHCtrZcWlAI3_GeFwxCh45IeTA7Ix8/edit?usp=sharing" target="_blank">here</a>.</p>
    <p style="font-size:15px">Request clarifications <a href="https://docs.google.com/forms/d/e/1FAIpQLSdTJ-IpUsbLsbI_WCyu_4eN2Bb_J4UJ_x29UYLcP-YO3lOQRg/viewform" target="_blank">here</a>.</p>
    <object data="/static/files/opho2020_invi.pdf" type="application/pdf" width="100%" height="800px"> 
        <p>It appears you don't have a PDF plugin for this browser.
        <a href="/static/files/opho2020_invi.pdf">click here to
        download the PDF file.</a></p>  
    </object>
  </body>
{% endblock %}
</html>
