{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">
  </head>
  <body>
      <form class="box" method="post">
        <h1>Login to OPhO</h1>
        {{ macros.render_field(form.username, label_visible=true, placeholder='Username', type='text') }}
				{{ macros.render_field(form.password, label_visible=true, placeholder='Password', type='password') }}
        <input type="submit" name="" value="Submit">
        <p>You will recieve your login a week before the contest starts.</p>
      </form>
  </body>
</html>
