{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-166042318-1');
    </script>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">
  </head>
  <body>
      <form class="box" method="post">
        <h1>Login to OPhO</h1>
        {{ macros.render_field(form.username, label_visible=true, placeholder='Username', type='text') }}
				{{ macros.render_field(form.password, label_visible=true, placeholder='Password', type='password') }}
        <input type="submit" name="" value="Submit">
        <p>You will recieve your login a week before the contest starts.</p>
      </form>
  </body>
</html>
