{% import 'macros.html' as macros %}
{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-166042318-1');
        </script>
        <meta charset="utf-8">
        <title>Rankings</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
        
    </head>
    {% block body %}
    {{ macros.render_nav(user) }}
    <body>
    <div id="rankings" style="margin-left:2%; margin-right: 2%;">
        <h1 class="display-4">Leaderboard</h1>
        <p class="lead">Here are the FINAL scores.</p>
        <p>
            <img src="/static/files/gold_medal.png" height="42" width="42"> = 1st place &nbsp; 
            <img src="/static/files/silver_medal.png" height="42" width="42"> = 2nd place &nbsp;
            <img src="/static/files/bronze_medal.png" height="42" width="42"> = 3rd place &nbsp;
        </p>
        <p>
            <img src="/static/files/win.png" height="42" width="42"> = Honors (Achieved a score of 140 or higher) &nbsp;
            <img src="/static/files/advanced.png" height="42" width="42"> = Advanced to invitationals (Achieved a score of 130 or higher) &nbsp;
            <img src="/static/files/close.png" height="42" width="42"> = Did not advance
        </p>
        <p>For more advanced insights, see <a href="/static/files/opho_open_results.pdf" target="_blank">this</a>.</p>

        <table class="table">
            <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>Score</th>
                <th>Award</th>
            </tr>

              {% for team in ranked_teams %}
                <tr>
                    <td>{{ team.rank }}</td>
                    <td>{{ team.teamname }}</td>
                    <td>{{ team.score }}</td>
                    {% if team.rank == 1 %}
                    <td><img src="/static/files/gold_medal.png" height="42" width="42"></td>
                    {% elif team.rank == 2 %}
                    <td><img src="/static/files/silver_medal.png" height="42" width="42"></td>
                    {% elif team.rank == 3 %}
                    <td><img src="/static/files/bronze_medal.png" height="42" width="42"></td>
                    {% elif team.score >= 97.7 %}
                    <td><img src="/static/files/win.png" height="42" width="42"></td>
                    {% elif team.score  >= 86.0 %}
                    <td><img src="/static/files/advanced.png" height="42" width="42"></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
        </table>
    </div>
    </body>
    {% endblock %}
</html>