<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-166042318-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cover.css" />
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

    <title>OPhO | Meet the Team</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161438140-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161438140-1');
    </script>

    <style>
      .aspect-ratio {
  position: relative;
  width: 100%;
  padding-bottom: 120%; /* Adjust this value to set the desired aspect ratio (e.g., 75% for 4:3, 100% for 1:1) */
  overflow: hidden;
}

.aspect-ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
    </style>
  </head>
  <body>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <a type="button" class="btn btn-secondary" href="/">Back</a> <br><br>
        <div><h1 class="display-6">Meet the Team</h1></div>
        <p class=lead>See the people who have spent many hours organizing the competition, writing problems, reviewing problems, and maintaining the website.</lead>
    </div>
  </div>

  <div class="card-group" style="margin-left:5%; margin-right: 5%;">
    <div class="card">
      <div class="aspect-ratio">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/1071566192323604540/1241800464274817096/BrianZhang_OPhO_Photo.jpg?ex=666d228e&is=666bd10e&hm=8a5d286109da03f53b035556e74860f7374d88f43e7c263edb1a9ae7d4bd9f7a&=&format=webp&width=662&height=741" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Brian Zhang</h5>
          <p class="card-text">Brian Zhang is a rising senior at Northville High School, Michigan. In seventh grade, he came across Richard Feynman’s book Surely You’re Joking, Mr. Feynman! which sparked in him a profound interest in physics. Ever since then, a ceaseless curiosity to explore further into physical phenomena has driven his learning. He is a member of the 2023 and 2024 U.S. Physics Team, 3 time USAJMO qualifier, earning an Honorable Mention in 2023, and 2024 USAMO qualifier. Brian is also enthusiastic about computer science, especially machine learning. Outside of STEM, Brian plays piano and finds deep joy in classical music, is a co-captain of his school’s varsity tennis team, and leads a journalism club and a volunteer organization.
          </p>
        </div>
    </div>
    <div class="card">
      <div class="aspect-ratio">
      <img class="card-img-top" src="https://media.discordapp.net/attachments/820522535069679658/1250112407208988703/va_opho.png?ex=6669c167&is=66686fe7&hm=6245cf438e7c73b5d2616038108b1ace8fc555ece7308d669b822da1502e2197&=&format=webp&quality=lossless&width=500&height=600" alt="Card image cap">
    </div>
      <div class="card-body">
        <h5 class="card-title">Vardhan Agnihotri</h5>
        <p class="card-text">Vardhan Agnihotri is a rising freshman at the University of Pennsylvania, where he will obtain dual degrees in finance from Wharton and electrical engineering from the School of Engineering through the M&T program. He joined the OPhO committee in his junior year and now serves as the lead developer/outreach executive. Since freshman year, he's enjoyed growing his skillset in the fields of computer science and engineering by performing research, working at a robotics startup, and attending/directing hackathons. Aside from these extracurriculars, Vardhan enjoys playing video games with friends, reminiscing on the Patriots' glory days with Tom Brady, playing quizbowl, reading, and speedcubing.</p>
      </div>
    </div>
    <div class="card">
      <div class="aspect-ratio">
        <img class="card-img-top" src="https://cdn.discordapp.com/attachments/1071566192323604540/1243606570319741061/IMG_1989.png?ex=666c745f&is=666b22df&hm=480a5ee3ef251f7e659da0ee909deeb9bf941d16a86cd08a1bdbf4a9c3d1fc77&" alt="Card image cap">
      </div>
        <div class="card-body">
          <h5 class="card-title">Ashmit Dutta</h5>
          <p class="card-text">Ashmit Dutta is a rising sophomore at the University of Illinois Urbana-Champaign pursuing degrees in computer engineering and physics. He’s interested in AI's software and hardware applications in physics and engineering and is researching graph neural networks in particle physics at the University of Chicago over the summer. In high school, he participated in competitions like the USAPhO, PUPC, Physics Cup, and Online Physics Brawl, and was a TA in the level 3 physics course at AwesomeMath. In his free time he likes making music on FLStudio, lifting weights, and roadtrips.
          </p>
        </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://media.discordapp.net/attachments/1071566192323604540/1241824440770367610/WhatsApp_Image_2024-04-10_at_16.09.20.jpeg?ex=666d38e2&is=666be762&hm=6702348720f64bc6a1af2109a7e71ba9fdb5a9b60583d4e55c60043871519a95&=&format=webp&width=500&height=600">
      <div class="card-body">
        <h5 class="card-title">Felix Tudose</h5>
        <p class="card-text">Felix Tudose is a high school student from Romania with a passion for physics and informatics. He has won a silver medal at the IPhO 2023 in Japan, a silver medal at the EJOI 2021, and two gold medals at the RMI. Felix also organizes his school's informatics contest "Stelele Informaticii".
        </p>
      </div>
  </div>
    
    

  </div>
    
    
</div>



<div class="card-group" style="margin-left:5%; margin-right: 5%;">
  <div class="card">
    <img class="card-img-top" src="https://media.discordapp.net/attachments/1071566192323604540/1241839135551914004/192277336_1627108337479337_3478214646240558155_n.png?ex=666d4692&is=666bf512&hm=35651afc3cb6b468e3b32f841a39d83d26c48a1e6ce5277240a8cb6a6eeefcc1&=&format=webp&quality=lossless&width=500&height=600" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Eppu Leinonen</h5>
      <p class="card-text">Eppu Leinonen is a BSc student at University of Helsinki where he studies physics and mathematics. Back in secondary school he participated in various Olympiads ultimately representing Finland in EuPhO, IPhO and IOL. He also won a gold medal at Physics Cup 2023. Now he focuses on more the organizational aspects of Olympiads; he has written problems for NBPhO and is a part of the Finnish physics Olympiad training team, focusing on teaching theory.</p>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="hhttps://media.discordapp.net/attachments/1071566192323604540/1242698195453083648/Screen_Shot_2022-10-18_at_9.34.56_PM.png?ex=666d1ae2&is=666bc962&hm=61a1c4bc826cbaf9c84846a7e740c55761660b3fcc616d8d7676bdedbb7feaac&=&format=webp&quality=lossless&width=500&height=600" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Michael Voigt</h5>
      <p class="card-text">Michael Voigt is an incoming freshman at MIT, where he intends to major in physics and informatics. He is a silver medalist in the USA Physics Olympiad and has won numerous medals in his state’s Science Olympiad tournaments in subjects such as optics and experimental design. He enjoys sharing his knowledge with others, volunteering as a teacher in physics, math, and computer science for students in his community. In his free time, Michael enjoys practicing taekwondo, playing tennis, and playing video games.</p>
    </div>
</div>
    
    <div class="card">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/1071566192323604540/1242433067872944138/ongzz-thunk_-_Copy.jpeg?ex=666d7576&is=666c23f6&hm=08b9f9f79b73d90d4f6ba7c0c6274c3f0112012be649e1cbc04fec4a57edeed3&=&format=webp&width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Zhi Zheng</h5>
          <p class="card-text">Zhi Zheng is an incoming freshman at MIT from Malaysia with a deep-rooted passion for physics and astronomy! In high school, aside from doing his A-Levels, he participated in the IPhO and IOAA, and has a collection of HM, Bronze, Silver and Gold medals. (diversity!) Now, he is part of the Malaysian training team and also manages AMISO, an organization that aims to disseminate information about Olympiads to high-schoolers all across Malaysia. Outside of being a nerd, he loves Pokémon, music and making.
          </p>
        </div>
    </div>

    <div class="card">
      <div class="aspect-ratio">
      <img class="card-img-top" src="https://media.discordapp.net/attachments/1071566192323604540/1242636933965021285/pic.jpg?ex=666d8a94&is=666c3914&hm=c257f0b0819e92b2398ee28fe66c7d20fc066621a456928d4169bafa0fd8e5ed&=&format=webp&width=500&height=600" alt="Card image cap">
    </div>
      <div class="card-body">
        <h5 class="card-title">Kartik Ramachandrula</h5>
        <p class="card-text">Kartik Ramachandrula is a rising senior at Brookfield Central High School, Wisconsin. Kartik is passionate about physics, mathematics, and machine learning, and is especially interested in topics of intersection. Kartik was a member of the '23 U.S. Physics Team and earned USAPhO Gold Medal, USAMO Bronze Medal, USAJMO Winner, USAJMO HM, and 3x USAJMO qualification, International Physics Brawl Online 5th International (2nd in U.S.), and FIRST World Championship Qualification (FTC 22', FLL 19'). Kartik is pursuing research in the 2024 MIT PRIMES-USA program and is excited to attend the 2024 RSI program. Outside of STEM, Kartik loves learning languages, cooking (literally and figuratively), and volunteering/teaching.
        </p>
      </div>
    </div>

<div class="card-group" style="margin-left:0%; margin-right: 0%;">
<div class="card">
  <div class="aspect-ratio">
  <img class="card-img-top" src="https://media.discordapp.net/attachments/1071566192323604540/1243013645340770334/IMG_2014.jpg?ex=666d97eb&is=666c466b&hm=c0a821f05180d08715a2520dc842cc15aefd6424a9dfcb03daeefedecdec4cb4&=&format=webp&width=500&height=600" alt="Card image cap">
  </div>
  <div class="card-body">
    <h5 class="card-title">Dillan Jagannath</h5>
    <p class="card-text">Dillan Jagannath is a rising senior from Cary, North Carolina. He is interested in math, physics, and engineering and is currently a captain of his school’s robotics, rocketry, and physics teams. He has experience in theoretical and experimental research in optics and electromagnetism at the USAYPT. Dillan also enjoys sharing his passion for STEM as a math tutor. In his free time, Dillan enjoys watching movies and playing Brawlstars.
  </div>
</div>
<div class="card">
  <div class="aspect-ratio">
  <img class="card-img-top" src="https://media.discordapp.net/attachments/1071566192323604540/1243268821423227014/20240325_184137158_iOS.png?ex=66693f91&is=6667ee11&hm=7960a208d58c99e2866c4f79882f4437bed0132351f70b87f428dbcfd2f4ba0d&=&format=webp&quality=lossless&width=500&height=600" alt="Card image cap">
</div>
  <div class="card-body">
    <h5 class="card-title">Zian Shi</h5>
    <p class="card-text"> Zian Shi is an incoming freshman at MIT and graduating junior at Clovis North High school. He loves physics for its application and intuitive properties. Zian started physics by chance in eighth grade, and made USAPhO Camp 3 months later. He is a three time Physics Teamer and one time IPhOer. He also actively participates in other subjects – he is currently in USACO Platinum and earned an Honorable Mention in the USAJMO. He attended the SPARC summer program and loved the connections he made there. In his free time, Zian loves to hike, kayak, and go camping.
    </p>
  </div>
</div>
<div class="card">
  <div class="aspect-ratio">
  <img class="card-img-top" src="https://media.discordapp.net/attachments/1071566192323604540/1243388475256999967/FanFanPortrait_Boston2024_1.jpg?ex=6669af01&is=66685d81&hm=0975a0460f174f09927729934772b86d19c0b6c6b95a930ae51c8c4e4bedf9e9&=&format=webp&width=500&height=600" alt="Card image cap">
</div>
  <div class="card-body">
    <h5 class="card-title">Yehong Jiang</h5>
    <p class="card-text">Yehong Jiang is a rising senior at The Nueva School, California interested in both the theoretical and experimental sides of physics. In addition to olympiads, Yehong also leads his school's physics research team, which competes at the USAYPT every year. He is a 3-time member of the US Physics Team and is excited to participate in the 2024 IOAA. When not doing STEM, Yehong enjoys singing, fencing, and playing billiards.    </p>
  </div>
</div>
<div class="card">
  <div class="aspect-ratio">
  <img class="card-img-top" src="https://media.discordapp.net/attachments/1071566192323604540/1243593046923284631/IMG_2973.png?ex=6669c4c7&is=66687347&hm=ec0a739cc748e36dce9e2721d7c2e6ad942d87f21eb47e7cc75ae7804dfb6db9&=&format=webp&quality=lossless&width=500&height=600" alt="Card image cap">
</div>
  <div class="card-body">
    <h5 class="card-title">Sam Labidi</h5>
    <p class="card-text">Sami Labidi is an incoming freshman at MIT. He’s interested in all areas of physics and is currently involved in research in classical optics. In 2023, Sami was a member of the US Physics Team and was the IPhO alternate for the USA. In his free time, Sami likes to listen to music, lift weights, and engineer ways to cook that require the minimum amount of cleaning possible.
    </p>
  </div>
</div>
</div>

<!-- 
<div class="jumbotron">
  <div class="container">
      <div><h1 class="display-6">Alumni</h1></div>
      <p class=lead>Former members of the OPhO team</lead>
  </div>
  <div class="card-group" style="margin-left:5%; margin-right: 5%;">
  <div class="card">
    <div class="aspect-ratio">
    <img class="card-img-top" src="https://media.discordapp.net/attachments/690964040209530960/700399513956778085/PSX_20200416_134003.jpg?width=500&height=600" alt="Card image cap">
  </div>
    <div class="card-body">
      <h5 class="card-title">Ethan Hu</h5>
      <p class="card-text">Ethan Hu is a junior from Marc Garneau Collegiate Institute from the Toronto area in Canada. He often spends his time reading up on the latest scientific advancements or working on physics problems in front of a whiteboard. Having participated in many related contests, he scored first in Canada in Physics Bowl Div 1, Top Gold in BPHO, and was a finalist in the team selection of 2019. His favourite subject is mechanics.  In his leisure time, you may find him answering physics questions online, playing music, working out, or tinkering with remote controlled toys.</p>
    </div>
</div>
<div class="card">
  <div class="aspect-ratio">
  <img class="card-img-top" src="https://cdn.discordapp.com/attachments/722277655663214693/1126554293655314432/UNADJUSTEDNONRAW_thumb_23e0.jpg" alt="Card image cap" >
</div>
  <div class="card-body">
    <h5 class="card-title">Viraj Jayam</h5>
    <p class="card-text">Originally from Long Island, New York, Viraj Jayam is an undergraduate physics and computer science student at Stanford University. As a high schooler, Viraj competed in various physics and math contests (including the AIME, USAPhO, and USAAAO) which eventually streamlined into his love for physics research. Viraj is now especially passionate about and involved in the fields of quantum computing and quantum engineering. In his free time, Viraj enjoys going on hikes, promising to cook Indian food, and thrifting.</p>
  </div>
</div>
<div class="card">
  <div class="aspect-ratio">
  <img class="card-img-top" src="https://cdn.discordapp.com/attachments/711071403339677757/993310346762801172/IMG_1337.PNG" alt="Card image cap" >
</div>
  <div class="card-body">
    <h5 class="card-title">Max Wang</h5>
    <p class="card-text">Max Wang is a freshman at the University of Pennsylvania. He is studying Mathematics and Computer Science and plans to minor in Physics. He enjoys being involved with physics: organizing OPhO and TAing Physics at Awesome Math Academy. In his free time, he likes to get buckets at Pottruck and play around with interesting math and physics problems. 
</p>
  </div>
</div>
<div class="card">
  <div class="aspect-ratio">
  <img class="card-img-top" src="https://cdn.discordapp.com/attachments/816115026078335047/832716075669520384/unknown.png" alt="Card image cap">
</div>
  <div class="card-body">
    <h5 class="card-title">Rohan Bhowmik</h5>
    <p class="card-text">Rohan Bhowmik is a junior at the Harker School in San Jose, California. Rohan has been deeply passionate for STEM-related topics since early childhood. He qualified for the USAJMO, USAPhO, USACO Gold, USABO Semifinals, as well as National Astronomy Competition (NAC) Invitational. He is also an avid researcher, qualifying for state-level science fairs and Broadcom MASTERS Top 300. An active member of the science community, Rohan is a founding officer of his school’s Public Health Club and a Middle School Science Bowl team coach. His favorite physicist is Louis de Broglie because he wrote the shortest Ph.D. dissertation and had an impressive haircut.
    </p>
  </div>
</div>
</div>
<div class="card-group" style="margin-left: 5%; margin-right: 5%;">
  <div class="card">
    <div class="aspect-ratio">
    <img class="card-img-top" src="https://cdn.discordapp.com/attachments/714879883096096800/799638780146483260/Ronald_Dobos.jpg?width=500&height=600" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">Ronald Dobos</h5>
      <p class="card-text">Ronald Dobos is an undergraduate from Slovakia currently studying mathematics and physics at the University of Cambridge. He enjoyed competing in various physics olympiads during high school and his proudest achievements are silver medals from IYPT, IPhO and a gold medal from EuPhO. In his free time Rony likes to run, play ultimate frisbee or do street photography.
      </p>
    </div>
</div>
<div class="card">
  <div class="aspect-ratio">
  <img class="card-img-top" src="https://cdn.discordapp.com/attachments/714879883096096800/798955942250283078/jacob.jpg?width=500&height=600" alt="Card image cap">
</div>
  <div class="card-body">
    <h5 class="card-title">Jacob Nie</h5>
    <p class="card-text">Jacob Nie is an undergraduate studying physics at UC Santa Barbara.  In high school, he attended the 2019 US Physics Olympiad Training Camp and also earned other accolades in several other physics competitions.  Currently, his primary field of interest is condensed matter physics, which he is fond of for its emergent phenomena and close collaboration between theory and experiment.  In his endless spare time, he likes to plan for his next backpacking trip.
    </p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="https://media.discordapp.net/attachments/524074426770391042/708135405714669617/Photo_on_4-30-20_at_8.png?width=500&height=600" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Ben Oommen</h5>
    <p class="card-text">Ben Oommen is an incoming freshman and Turing Scholar at the University of Texas at Austin where he will be studying computer science and mathematics. His love for physics stemmed from contributing to graduate research efforts in astronomy and optics to aid in the detection in exoplanets. He has also contributed to graduate research in machine learning, specifically in the discipline of multi agent reinforcement learning. In his free time he enjoys programming, math, and working out. 
    </p>
  </div>
</div>
<div class="card">
  <div class="aspect-ratio">
  <img class="card-img-top" src="https://www.thefamouspeople.com/profiles/images/isaac-newton-25.jpg" alt="Card image cap">
  </div>
  <div class="card-body">
    <h5 class="card-title">Zhening Li</h5>
    <p class="card-text"> Problem Writer 2022. 
    </p>
  </div>
  </div>
</div>
</div>
</div>
</div> -->
<!--
 
<div class="card-group" style="margin-left:30%; margin-right: 30%;">

    <div class="card">
      <img class="card-img-top" src="https://cdn.discordapp.com/attachments/701159191162650764/712888735837978644/BK.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Viraj Jayam</h5>
        <p class="card-text">Dr.Branislav Kisačanin works as a computer scientist at Nvidia and as an instructor of competitive math and physics at AwesomeMath. The most recent of the 11 books he co-wrote or co-edited is the F=ma Contests: 2011-2019 Solutions Manual, which can be downloaded for free from the AAPT. Dr.Branislav enjoys working with super-smart students because it is a two-way street: while teaching them, he is learning a lot too!</p>
      </div>
  </div>
    <div class="card">
      <img class="card-img-top" src="https://cdn.discordapp.com/attachments/701159191162650764/713976795233517598/pYZkSdPNhSFA_k4OLR_2ovjXDV9TDP87QtLT4LDCcqY_vLeLqB8gDygKfFF-gxsmjZ5B585EtTkzeTtid1u-jnj9HMuIe2GyPASd.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Kye Shi</h5>
        <p class="card-text">Kye is a senior at Harvey Mudd College in Claremont, California
          majoring in math and computer science.  He spent much of his free time
          in high school tinkering with electronics, playing pool, and, well,
          learning physics.  In 2017, he joined the U.S. Physics Team and won a
          gold medal at the IPhO in Indonesia; two years later, in 2019, he
          returned to (and is still part of!) the Physics Team as a junior
          coach.</p>
      </div>
  </div>

</div>

-->

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <script>window.jQuery || document.write('<script src="/static/js/jquery-1.4.4.min.js"><\/script>')</script>
      <script src="/static/js/bootstrap.bundle.min.js" i></script></body>
</html> 
