<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-166042318-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cover.css" />
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

    <title>OPhO | Meet the Team</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161438140-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161438140-1');
    </script>
    

  </head>
  <body>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <a type="button" class="btn btn-secondary" href="/">Back</a> <br><br>
        <div><h1 class="display-6">Meet the Team</h1></div>
        <p class=lead>See the people who have spent many hours organizing the competition, writing problems, reviewing problems, and maintaining the website.</lead>
    </div>
  </div>

  <div class="card-group" style="margin-left:5%; margin-right: 5%;">
    <div class="card">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/690964040209530960/700739647118114967/adithya_pic.jpg?width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Adithya Balachandran</h5>
          <p class="card-text">Adithya Balachandran is a freshman studying mathematics and computer science at MIT.  In high school, he was a USAPhO gold medalist, and he was selected to the USA team for IOAA where he earned a gold medal in the Global e-Competition in Astronomy and Astrophysics. Additionally, Adithya won the 2019 USAJMO and attended MOP. Adithya's favorite physics subject is electromagnetism. Other than physics and math, Adithya also enjoys coding and playing card games.
          </p>
        </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://media.discordapp.net/attachments/524074426770391042/700769438135353364/unknown.png?width=500&height=600" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Eddie Chen</h5>
        <p class="card-text">Eddie is a first year undergraduate at MIT planning on majoring in physics. During his high school years, he has participated in various olympiads. He is an IPhO Gold Medalist and a USAMO qualifier. His favorite topic in physics is statistical physics. In his free time, he likes to play the violin as well as hex.</p>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn.discordapp.com/attachments/757090357350760472/1122972947339038790/IMG_7932.png?width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ashmit Dutta</h5>
          <p class="card-text">Ashmit Dutta is an undergraduate student at the University of Illinois Urbana-Champaign, where he plans to pursue a double major in Mathematics and Computer Engineering. In addition to physics and astronomy olympiads, he placed as a top 5 team in the Online Physics Brawl A Division and was a top 20 shortlisted team in the Beamline for School Competition. Ashmit has helped teach at the nonprofit Everaise Academy and was a TA at Awesome Math's Physics 3 class. As the owner of the Physics Olympiads server, he enjoys interacting with an online community of avid learners. In his free time, you can see him at the buzzer doing quizbowl, where he enjoys learning about literature and history, or playing video games.
          </p>
        </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://media.discordapp.net/attachments/782105673928146984/975240364443201566/500X600.png">
      <div class="card-body">
        <h5 class="card-title">Pritesh Mehta</h5>
        <p class="card-text">Pritesh Mehta is a senior from Gujarat, India. He is a physics enthusiast and likes to apply concepts of physics in real life. He loves solving Physics Olympiad problems and was inspired and given the right direction by his physics teacher Mr. Sanjay Shrivastav. He has also cleared national Physics Olympiad and participated in camp. He has took part in various Physics Olympiad including opho where he got 3rd rank twice. He is also a kvpy scholar. His favorite topics, in physics involves EM and optics in which additional to solving problems he likes creating them specifically where there are applications of Maxwell's equations. When he's not doing physics, Pritesh enjoys playing chess,table tennis and creating applications.
        </p>
      </div>
  </div>
    
    

  </div>
    
    
</div>



<div class="card-group" style="margin-left:5%; margin-right: 5%;">
  <div class="card">
    <img class="card-img-top" src="https://media.discordapp.net/attachments/690964040209530960/700525394960318494/0.png?width=500&height=600" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Rishab Parthasarathy</h5>
      <p class="card-text">Rishab Parthasarathy is a senior at the Harker School in San Jose, California. As a fervent STEM enthusiast, Rishab has qualified for many prestigious competitions, including the USAMO, the USAPhO, USACO Platinum, USABO semis, USNCO nationals, and NACLO invitationals, most recently being recognized as the 2021 Alternate for the US IPhO Team. Rishab is also an active researcher, having been recognized as one of the Top 40 Finalists in the Regeneron Science Talent Search and publishing a first-author paper on hybrid quantum-optical computing. At school, Rishab leads the Programming and Science Competitions Clubs, also co-founding the Public Health Club. His favorite physics subjects are quantum electrodynamics and statistical mechanics. Outside of physics, you can find Rishab solving language puzzles, exploring the Bay Area, and playing the violin.</p>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="https://media.discordapp.net/attachments/668817787858452502/700387571921977384/20200216_083951.jpg?width=500&height=600" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Kushal Thaman</h5>
      <p class="card-text">Kushal Thaman is a rising senior from Chandigarh, India. He is an ardent physics and math enthusiast, and was in the top 1% students in India to qualify for the Indian National Physics Olympiad this year. He has also won various medals in other national and international physics and math contests, and is an NTSE scholar. Additionally, he is the president of his school's Physics and Astronomy club, and his favourite physics subjects are electromagnetism and statistical mechanics. When he's not doing physics or math, Kushal enjoys playing soccer, reading anything he gets his hands on, and playing his favourite piano pieces.</p>
    </div>
</div>
    
    <div class="card">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/524074426770391042/700771503049801839/unknown.png?width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">QiLin Xue</h5>
          <p class="card-text">QiLin Xue is an undergrad studying Engineering Science at the University of Toronto, planning to go into Engineering Physics. He came top 10 in the Canadian national undergrad physics competition when he was a freshman, and his two favourite problem solving strategies are: "proof by recognition" and "proof by lack of counterexample." Feel free to reach out and say hi, QiLin is looking for any excuse to get out of doing work.
          </p>
        </div>
    </div>
    
  <div class="card">
    <img class="card-img-top" src="https://media.discordapp.net/attachments/524074426770391042/708135405714669617/Photo_on_4-30-20_at_8.png?width=500&height=600" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ben Oommen</h5>
      <p class="card-text">Ben Oommen is an incoming freshman and Turing Scholar at the University of Texas at Austin where he will be studying computer science and mathematics. His love for physics stemmed from contributing to graduate research efforts in astronomy and optics to aid in the detection in exoplanets. He has also contributed to graduate research in machine learning, specifically in the discipline of multi agent reinforcement learning. In his free time he enjoys programming, math, and working out. 
      </p>
    </div>
</div>
</div>

<div class="card-group" style="margin-left:15%; margin-right: 15%;">
  <div class="card">
    <img class="card-img-top" src="https://cdn.discordapp.com/attachments/714879883096096800/799638780146483260/Ronald_Dobos.jpg?width=500&height=600" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ronald Dobos</h5>
      <p class="card-text">Ronald Dobos is an undergraduate from Slovakia currently studying mathematics and physics at the University of Cambridge. He enjoyed competing in various physics olympiads during high school and his proudest achievements are silver medals from IYPT, IPhO and a gold medal from EuPhO. In his free time Rony likes to run, play ultimate frisbee or do street photography.
      </p>
    </div>
</div>
<div class="card">
  <img class="card-img-top" src="https://cdn.discordapp.com/attachments/714879883096096800/799839043881795624/IMG_7377.jpg?width=500&height=600" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Evan Kim</h5>
    <p class="card-text">Evan Kim is a junior at Tesla STEM High School. He discovered physics through science bowl and has been fascinated with its beauty ever since. And preparing for physics competitions over the last couple years has made him appreciate it even more. In particular, he has grown especially fond of thermodynamics for all the nice arguments that can be made, along with its practical applications and connections to other subjects. Some of his achievements include qualifying for the 2021 US Physics Team, getting a silver medal at PUPC 2020 (4th overall), and qualifying for NSB nationals. In his free time, he can be found consuming large amounts of boba tea or watching interesting youtube videos (like those from Slipping Hexagons).
    </p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="https://cdn.discordapp.com/attachments/714879883096096800/798955942250283078/jacob.jpg?width=500&height=600" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Jacob Nie</h5>
    <p class="card-text">Jacob Nie is a freshman studying physics at UC Santa Barbara.  In high school, he attended the 2019 US Physics Olympiad Training Camp and also earned other accolades in several other physics competitions.  Currently, his primary field of interest is condensed matter physics, which he is fond of for its emergent phenomena and close collaboration between theory and experiment.  In his endless spare time, he likes to plan for his next backpacking trip.
    </p>
  </div>
</div>
</div>

<div class="card-group" style="margin-left:15%; margin-right: 15%;">
<div class="card">
  <img class="card-img-top" src="https://cdn.discordapp.com/attachments/816115026078335047/832716075669520384/unknown.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Rohan Bhowmik</h5>
    <p class="card-text">Rohan Bhowmik is a junior at the Harker School in San Jose, California. Rohan has been deeply passionate for STEM-related topics since early childhood. He qualified for the USAJMO, USAPhO, USACO Gold, USABO Semifinals, as well as National Astronomy Competition (NAC) Invitational. He is also an avid researcher, qualifying for state-level science fairs and Broadcom MASTERS Top 300. An active member of the science community, Rohan is a founding officer of his school’s Public Health Club and a Middle School Science Bowl team coach. His favorite physicist is Louis de Broglie because he wrote the shortest Ph.D. dissertation and had an impressive haircut.
    </p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="https://media.discordapp.net/attachments/820522535069679658/1124529947172667493/VAopho_1.png?width=591&height=741" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Vardhan Agnihotri</h5>
    <p class="card-text">Vardhan Agnihotri is a rising senior from the St. Mark's School of Texas in Dallas, Texas, and is a backend developer of the OPhO's website. He enjoys studying physics and copmuter science (specifically machine learning). Over the past two summers, he has used data science to analyze temporal data of particulate matter concentrations in the atmosphere and joined a quantum computing lab at a local university. Aside from research, he enjoys playing video games with his friends, participating in hackathons, attending quiz/science bowl tournaments, and speedcubing.
    </p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="https://cdn.discordapp.com/attachments/757090357350760472/1124119433032519690/Screen_Shot_2023-06-29_at_7.29.14_PM.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Zian Shi</h5>
    <p class="card-text"> Zian Shi is a sophomore at Clovis North High School. He loves physics for its application and intuitive properties. Zian started physics by chance in eighth grade, and made USAPhO Camp 3 months later. He also actively participates in other subjects – he is currently in USACO Platinum and earned an Honorable Mention in the USAJMO. He attended the SPARC summer program and loved the connections he made there. In his free time, Zian loves to hike, kayak, and go camping.  
    </p>
  </div>
</div>
</div>

<div class="jumbotron">
  <div class="container">
      <div><h1 class="display-6">Alumni</h1></div>
      <p class=lead>Former members of the OPhO team</lead>
  </div>
  <div class="card-group" style="margin-left:20%; margin-right: 20%;">
  <div class="card">
    <img class="card-img-top" src="https://media.discordapp.net/attachments/690964040209530960/700399513956778085/PSX_20200416_134003.jpg?width=500&height=600" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ethan Hu</h5>
      <p class="card-text">Ethan Hu is a junior from Marc Garneau Collegiate Institute from the Toronto area in Canada. He often spends his time reading up on the latest scientific advancements or working on physics problems in front of a whiteboard. Having participated in many related contests, he scored first in Canada in Physics Bowl Div 1, Top Gold in BPHO, and was a finalist in the team selection of 2019. His favourite subject is mechanics.  In his leisure time, you may find him answering physics questions online, playing music, working out, or tinkering with remote controlled toys.</p>
    </div>
</div>
<div class="card">
  <img class="card-img-top" src="https://cdn.discordapp.com/attachments/671768865708965888/958219642676084797/UNADJUSTEDNONRAW_thumb_1aaf.jpg?width=500&height=600" alt="Card image cap" >
  <div class="card-body">
    <h5 class="card-title">Viraj Jayam</h5>
    <p class="card-text">Originally from Long Island, New York, Viraj Jayam is an undergraduate physics and computer science student at Stanford University. As a high schooler, Viraj competed in various physics and math contests (including the AIME, USAPhO, and USAAAO) which eventually streamlined into his love for physics research. Viraj is now especially passionate about and involved in the fields of quantum computing and quantum engineering. In his free time, Viraj enjoys going on hikes, promising to cook Indian food, and thrifting.</p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="https://cdn.discordapp.com/attachments/711071403339677757/993310346762801172/IMG_1337.PNG" alt="Card image cap" >
  <div class="card-body">
    <h5 class="card-title">Max Wang</h5>
    <p class="card-text">Max Wang is a freshman at the University of Pennsylvania. He is studying Mathematics and Computer Science and plans to minor in Physics. He enjoys being involved with physics: organizing OPhO and TAing Physics at Awesome Math Academy. In his free time, he likes to get buckets at Pottruck and play around with interesting math and physics problems. 
</p>
  </div>
</div>
</div>
</div>
<!--
 
<div class="card-group" style="margin-left:30%; margin-right: 30%;">

    <div class="card">
      <img class="card-img-top" src="https://cdn.discordapp.com/attachments/701159191162650764/712888735837978644/BK.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Viraj Jayam</h5>
        <p class="card-text">Dr.Branislav Kisačanin works as a computer scientist at Nvidia and as an instructor of competitive math and physics at AwesomeMath. The most recent of the 11 books he co-wrote or co-edited is the F=ma Contests: 2011-2019 Solutions Manual, which can be downloaded for free from the AAPT. Dr.Branislav enjoys working with super-smart students because it is a two-way street: while teaching them, he is learning a lot too!</p>
      </div>
  </div>
    <div class="card">
      <img class="card-img-top" src="https://cdn.discordapp.com/attachments/701159191162650764/713976795233517598/pYZkSdPNhSFA_k4OLR_2ovjXDV9TDP87QtLT4LDCcqY_vLeLqB8gDygKfFF-gxsmjZ5B585EtTkzeTtid1u-jnj9HMuIe2GyPASd.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Kye Shi</h5>
        <p class="card-text">Kye is a senior at Harvey Mudd College in Claremont, California
          majoring in math and computer science.  He spent much of his free time
          in high school tinkering with electronics, playing pool, and, well,
          learning physics.  In 2017, he joined the U.S. Physics Team and won a
          gold medal at the IPhO in Indonesia; two years later, in 2019, he
          returned to (and is still part of!) the Physics Team as a junior
          coach.</p>
      </div>
  </div>

</div>

-->

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <script>window.jQuery || document.write('<script src="/static/js/jquery-1.4.4.min.js"><\/script>')</script>
      <script src="/static/js/bootstrap.bundle.min.js" i></script></body>
</html> 
