<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cover.css" />
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

    <title>OPhO | Meet the Team</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161438140-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161438140-1');
    </script>

  </head>
  <body>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <a type="button" class="btn btn-secondary" href="/">Back</a> <br><br>
        <div><h1 class="display-6">Meet the Team</h1></div>
        <p class=lead>See the people who have spent many hours organizing the competition, writing problems, reviewing problems, and maintaining the website.</lead>
    </div>
  </div>

  <div class="card-group" style="margin-left:5%; margin-right: 5%;">
    <div class="card">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/690964040209530960/700739647118114967/adithya_pic.jpg?width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Adithya Balachandran</h5>
          <p class="card-text">Adithya Balachandran is a junior at High Technology High School in Lincroft, NJ. He is an avid physics and math enthusiast, and he was a 2019 USAPhO gold medalist. Additionally, Adithya won the 2019 USA Junior Math Olympiad (USAJMO) and attended the Math Olympiad Program (MOP) in 2019. Adithya's favorite physics subject is thermodynamics. Other than physics and math, Adithya also enjoys coding, and playing card games.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/524074426770391042/700769438135353364/unknown.png?width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Eddie Chen</h5>
          <p class="card-text">Eddie Chen is a junior at High School North in Plainsboro, NJ. He has a passion for physics, and was selected to the USA Physics Olympiad Training Camp.  In addition, Eddie has qualified for USAMO. He is the president of physics phun club at HSN, and his favorite physics subject is electromagnetism. Other than academics, he enjoys playing the violin and fencing.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/690964040209530960/700746852634460362/image0.jpg?width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ashmit Dutta</h5>
          <p class="card-text">Ashmit Dutta is a freshman at Wayzata High School located in Plymouth, MN. He started studying physics last year, and as of recent, has participated in several physics competitions and olympiads. In addition, his favorite physics subject is electromagnetism. Whenever he starts a physics problem, he has a nasty tendency to bash it out with the lagrangian. Apart from physics, he enjoys math, coding, anime, and table tennis. He also loves doing buzzer games and is in his school science bowl club.</p>
        </div>
     <div class="card">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/690964040209530960/700399513956778085/PSX_20200416_134003.jpg?width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ethan Hu</h5>
          <p class="card-text">Ethan Hu is a junior from Marc Garneau Collegiate Institute from the Toronto area in Canada. He often spends his time reading up on the latest scientific advancements or working on physics problems in front of a whiteboard. Having participated in many related contests, he scored first in Canada in Physics Bowl Div 1, Top Gold in BPHO, and was a finalist in the team selection of 2019. His favourite subject is mechanics.  In his leisure time, you may find him answering physics questions online, playing music, working out, or tinkering with remote controlled toys.</p>
        </div>
    </div>
    </div>
        <div class="card">
      <img class="card-img-top" src="https://media.discordapp.net/attachments/524074426770391042/700781015089807420/unknown.png?width=500&height=600" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Viraj Jayam</h5>
        <p class="card-text">Viraj Jayam is a junior at The Wheatley School in Long Island, New York. As a passionate math and physics lover, Viraj is the president of his school's math club and has participated in many contests/olympiads including the AIME, NAC invitational, and the US Physics Olympiad contest series. He has also conducted original research in the fields of number theory, differential geometry, and astrophysics. His favorite subjects in physics are astrophysics and quantum mechanics. When he's not doing physics or math, Viraj loves hiking, playing basketball, cooking Indian food, or browsing Wikipedia looking for interesting subpages.</p>
      </div>
  </div>
  <div class="card">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/690964040209530960/700525394960318494/0.png?width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rishab Parthasarathy</h5>
          <p class="card-text">Rishab Parthasarathy is a sophomore at The Harker School in San Jose, California. As a fervent STEM enthusiast, Rishab has participated in many competitions, including the USAMO, the USAPhO, USACO Platinum, USABO semis and NACLO invitational, and he even made the US Physics Team. He has leadership positions in his school's Programming and Science Competitions. His favorite physics subjects are quantum electrodynamics and statistical mechanics. When Rishab isn't doing physics, you can find him playing the violin, randomly browsing the internet, or sleeping.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/668817787858452502/700387571921977384/20200216_083951.jpg?width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Kushal Thaman</h5>
          <p class="card-text">Kushal Thaman is a rising senior from Chandigarh, India. He is an ardent physics and math enthusiast, and was in the top 1% students in India to qualify for the Indian National Physics Olympiad this year. He has also won various medals in other national and international physics and math contests, and is an NTSE scholar. Additionally, he is the president of his school's Physics and Astronomy club, and his favourite physics subjects are electromagnetism and statistical mechanics. When he's not doing physics or math, Kushal enjoys playing soccer, reading anything he gets his hands on, and playing his favourite piano pieces.</p>
        </div>
    </div>
</div>
<div class="card-group" style="margin-left:5%; margin-right: 5%;">
    <div class="card">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/690964040209530960/699316528071311431/2.png?width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Max Wang</h5>
          <p class="card-text">Max Wang is a rising senior at Franklin Regional in Murrysville, PA, and has qualified for the USAPHO, AIME, and USESO camp. He is the president of his school’s Science Olympiad, Physics club, and National Science Bowl club. Additionally, he enjoys applying his physics knowledge in the pool, helping him and his relay achieve an All-American consideration time. His favorite subject is electromagnetism, and he hopes to continue to study physics throughout the summer and, eventually, into college. Other activities he enjoys doing are reading books, playing piano, lifting weights, and swimming.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://media.discordapp.net/attachments/524074426770391042/700771503049801839/unknown.png?width=500&height=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">QiLin Xue</h5>
          <p class="card-text">QiLin Xue is a senior from John Fraser Secondary School in the Toronto region of Canada. As the founder of his school's physics club and the owner of the Physics Olympiad Discord Server with over 800 students. he enjoys building the online physics community.  QiLin's favourite subject is thermodynamics though he spends much of his time attempting to trivialize difficult math problems through physical insight. In his spare time, he stays at home because he is a model citizen who plays his part in flattening the curve.
          </p>
        </div>
    </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.discordapp.com/attachments/701461269500133397/705413015264165968/Photo_on_4-30-20_at_8.38_AM_3.jpg?width=500&height=600" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ben Oommen</h5>
      <p class="card-text">Ben Oommen is a sophomore from Dallas, Texas, and is the backend developer of this website and the OPhO contest portal. He just recently started studying for and participating in various physics competitions, and especially enjoys applying computer science to physics. Over the summer, he worked at a university to model subpixel sensitivies on an exoplanet detector plane to help increase accuracy of these detections. In physics, his favorite area is electromagnetism. When he is not coding or doing physics, Ben loves working out and playing basketball.</p>
    </div>
</div>
</div>



<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <script>window.jQuery || document.write('<script src="/static/js/jquery-1.4.4.min.js"><\/script>')</script>
      <script src="/static/js/bootstrap.bundle.min.js" i></script></body>
</html> 
