aiofiles==0.7.0
aiohttp==3.7.4
async-timeout==3.0.1
asyncpg==0.23.0
attrs==21.2.0
certifi==2020.12.5
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.1
Jinja2==3.0.1
MarkupSafe==2.0.1
python-dotenv==0.17.1
rfc3986==1.5.0
sanic==19.12.2
sanic-session==0.8.0
sniffio==1.2.0
ujson==4.0.2
uvloop==0.14.0
WTForms==2.3.3
yarl==1.6.3
