*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }
  
  a{
      color: hotpink;
  }
  
  .opho {
    width: 10%;
    margin-top: -20px;
  
  }
  
  .container p {
    margin-top: 20px
  }