  
<!DOCTYPE html>
<html>
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166042318-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-166042318-1');
    </script>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/static/files/favicon.ico">
	<title>{% block title %}Physoly{% endblock %}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>

<body>
{% block body %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
</nav>
{% endblock %}
</body>
</html>
