{% import 'macros.html' as macros %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>OPhO Contest Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Contest Page</h1>
          <p class="lead">The contest paper is available <a href="#">here</a></p>
        </div>
    </div>

    <h2 class="display-4">Stats</h2>
    <div class="card">
        <div class="card-body">
          Total Score: 5 <br>
          Problems Solved: 1 <br>
          Ranking: 10th (out of 100) <br>
        </div>

    </div>

   
    <form id="contestform" action="api/answer_submit">
      <ol>
      {% for problem, x in problems_and_input %}
      <input id="{{ problem.number }}" name="{{ problem.number }}">
      <label for="{{ problem.numer }}" class="control-label">{{ problem.number }}</label>
      <input type="submit" name="{{ problem.number }}">
      {% endfor %}
    </ol>
    </form>
  </form>
      

    <script>
      $("#contestform").submit(function(e)
      {
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        let form = $(this)
        console.log(postData);
        e.preventDefault(); //STOP default action
        $.ajax(
        {
            url : formURL,
            type: "POST",
            data: postData,
            beforeSend: function (xhr) {
              xhr.setRequestHeader('Authorization', 'Bearer t-7614f875-8423-4f20-a674-d7cf3096290e');
            },
            success:function(data, textStatus, jqXHR) 
            {
                //data: return data from server
                console.log("we made it")
                console.log(data)

                var $btn = $(document.activeElement);
                console.log($btn)
                if (
                  /* there is an activeElement at all */
                  $btn.length &&

                  /* it's a child of the form */ 
                  form.has($btn) &&

                  /* it's really a submit element */
                  $btn.is('button[type="submit"], input[type="submit"], input[type="image"]') &&

                  /* it has a "name" attribute */
                  $btn.is('[name]')
              ) {
                  console.log("Seems, that this element was clicked:", $btn.attr("name"));
                  /* access $btn.attr("name") and $btn.val() for data */
              } 
            },
            error: function(jqXHR, textStatus, errorThrown) 
            {
                //if fails      
            }
        });

        e.preventDefault();
    });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>