<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cover.css" />
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <title>Physics Olympiad | Kalda</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161438140-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161438140-1');
    </script>

  </head>
  <body>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <a type="button" class="btn btn-primary" href="..">Back to Hub</a> <br><br>
        <div><h1 class="display-6">Solutions to Jaan Kalda's Handouts</h1></div>
        <p class=lead>Jaan Kalda's <a href=https://www.ioc.ee/~kalda/ipho/>handouts</a> are beloved by physics students both in for a quick challenge, to students preparing for international Olympiads. These original solution manuals came as a pilot project from the online community at <a href="https://artofproblemsolving.com/community/c164_physics">artofproblemsolving.com</a>. Although there were detailed hints provided, full solutions have never been written. The majority of the solutions seen here were written on a private forum given to those who wanted to participate in making solutions. In an amazing show of an online collaboration, students from around the world came together to discuss ideas and methods and created what we see today. <br><br>
          
        This project would not have been possible without the countless contributions from members of the community. If you would like to participate, please sign up on AoPS <a href=https://artofproblemsolving.com/community/c164h1996863_update_kalda_handout_discussion_forum>here</a>.</lead>
    </div>
  </div>
  <div class="card-group" style="margin-left:20px; margin-right: 20px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Solutions to <a href=https://www.ioc.ee/~kalda/ipho/meh_ENG2.pdf>mechanics</a></h5>
        <p class="card-text">This handout contains 86 unique problems and 74 main `ideas' revolving around statics, fluids, rotational dynamics, fictitious forces, Lagrangians, and more.</p>
      </div>
      <div class="card-footer">
        <a href="/static/files/KaldaMech-122.pdf" class="btn btn-primary">View Solutions</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Solutions to <a href=https://www.ioc.ee/~kalda/ipho/kin_ENG.pdf>kinematics</a></h5>
        <p class="card-text">This handout contains 66 unique problems and 45 main `ideas' revolving around frames of reference, graphical techniques, geometric optics, optimization, and more.</p>
      </div>
      <div class="card-footer">
        <a href="/static/files/KaldaKin-200.pdf" class="btn btn-primary">View Solutions</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Solutions to <a href=https://www.ioc.ee/~kalda/ipho/Thermodyn.pdf>Thermodynamics</a></h5>
        <p class="card-text">This handout contains 88 unique problems revolving around the behaviour of fluid flow, gases, surface tension, heat engines, radiation, and more.</p>
      </div>
      <div class="card-footer">
        <a href="/static/files/KaldaThermo-121.pdf" class="btn btn-primary">View Solutions</a>
      </div>
    </div>
  </div>
  <div class="card-group" style="margin-left:20px; margin-right: 20px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Solutions to <a href="https://www.ioc.ee/~kalda/ipho/Ainsaar_Relativity.pdf">Relativity</a></h5>
        <p class="card-text">This handout contains a great overview to relativity, introducing kinematics and dynamics through Lorentz Transformations and four-vectors and includes challenging problems from past olympiads.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary disabled">Coming Soon</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Solutions to <a href="https://www.ioc.ee/~kalda/ipho/electricity-circuits.pdf">Circuits</a></h5>
        <p class="card-text">This handout contains 111 unique problems and 52 main `ideas' and introduces clever tricks such as Delta-Y, complex impedances, and many more methods to deal with complicated circuit diagrams.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary disabled">Coming Soon</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Solutions to <a href="https://www.ioc.ee/~kalda/ipho/waveopt.pdf">Waves</a></h5>
        <p class="card-text">This handout contains 19 challenging problems that give a great overview of various phenomenon that are associated with waves that appears on physics olympaids.</p>
      </div>
      <div class="card-footer">
        <a href="/static/files/KaldaWaves-121.pdf" class="btn btn-primary ">View Solutions</a>
      </div>
    </div>
  </div>
  <div class="card-group" style="margin-left:20px; margin-right: 20px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Translation/Solutions to <a href="https://www.ioc.ee/~kalda/ipho/Elekter.pdf">Electromagnetism</a></h5>
        <p class="card-text">Currently an Estonian-only handout, we are translating the 175 challenging problems in electromagnetism, and will be publishing solutions as well.</p>
      </div>
      <div class="card-footer">
        <a href="/static/files/KaldaEM-ENG.pdf" class="btn btn-primary">View Translation</a>
        <a href="#" class="btn btn-primary disabled">Solutions Coming Soon</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Translation/Solutions to <a href="https://www.ioc.ee/~kalda/ipho/kepler.pdf">Celestial Mechanics</a></h5>
        <p class="card-text">Currently an Estonian-only handout, we will be translating the 20 unique and challenging problems involving Celestial Mechanics.</p>
      </div>
      <div class="card-footer">
        <a href="/static/files/KaldaCM_ENG.pdf" class="btn btn-primary">View Translation + Solutions</a>
      </div>
  </div>
  </div>
  <br><br><br>
</main>


<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <script>window.jQuery || document.write('<script src="/static/js/jquery-1.4.4.min.js"><\/script>')</script>
      <script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>