{% macro render_field(field, label_visible=true) -%}

<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
        <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    {% endif %}
    {{ field(class_='form-control', **kwargs) }}
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
</div>
{%- endmacro %} 

{% macro render_nav (user) -%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgb(56, 56, 56)">
        <a class="navbar-brand" style="padding: 0;" href="/"><img src="https://media.discordapp.net/attachments/1136376121076756622/1251184626655822034/phods_logo-removebg-preview.png?ex=666da7fc&is=666c567c&hm=f6eba89a36f1df25ff213b135a02afb54f5116feebb6580eee93431f87acc971&=&format=webp&quality=lossless&width=576&height=672" style="height: 60px;
            padding: 5px;
            width: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            {% if user is not none %}
            <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 15px">Welcome {{ user.username }} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="//opho.physoly.tech/announcements" style="font-size: 15px">Announcements <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="//opho.physoly.tech/" style="font-size: 15px">OPhO Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="//physoly.tech/" style="font-size: 15px">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//opho.physoly.tech/logout" style="font-size: 15px">Log Out</a>
              </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="//opho.physoly.tech/announcements" style="font-size: 15px">Announcements <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//opho.physoly.tech/" style="font-size: 15px">OPhO Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="//physoly.tech/" style="font-size: 15px">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="//opho.physoly.tech/login" style="font-size: 15px">Log In</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </nav>
{%- endmacro %}

