{% macro render_field(field, label_visible=true) -%}

<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
        <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    {% endif %}
    {{ field(class_='form-control', **kwargs) }}
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
</div>
{%- endmacro %} 

{% macro render_nav (user) -%}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-color: rgb(56, 56, 56) !important;">
        <div class="container">
            <a class="navbar-brand" style="padding: 0;" href="/"><img src="https://media.discordapp.net/attachments/691110103926964274/699444543539642408/phodstransparent.png" style="height: 100px;
                padding: 15px;
                width: auto;">
            </a>
            <ul class="nav justify-content-end">
                {% if user is not none %}
                    <a class="navbar-brand" style="margin-top: 8px;" href="#">Welcome {{ user.username }}</a>
                    <a href="/contesthome" class="btn btn-outline-primary" style="border-radius: 12px;">OPhO Home</a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <a href="/logout" class="btn btn-outline-primary" style="border-radius: 12px;">Log Out</a>
                {% else %}
                    <form class="form-inline ml-auto">
                        <a href="/login" class="btn btn-outline-primary">Log in</a>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </form>
                {% endif %}
            </ul>
        </div>
    </nav>
{%- endmacro %}