<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styling/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="favicon.ico">
    <title>Physics olympiad</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161438140-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161438140-1');
</script>
  </head>
  <body>
    <div class="header">
      <div id="particles-js"></div>
    </div>

      </div>
      <div class="banner">
        <div class="row">
          <div class="column"><div class="app-text">
            <h1>OPhO</h1>
            <h2>Largest Online Student-Run<br>Physics Olympiad</h2>
            <p>Get ready for our team-based online physics olympiad! This week long<br> contest will be held from <b>12:00 AM UTC May 25, 2020 - 11:59 PM UTC May 30, 2020</b> and will cover topics<br> from mechanics, electromagnetism, thermodynamics, relativity, waves,<br> and more. The problems will start off easy and become harder towards the end.</p>
            <a href="https://forms.gle/k79MKhEv4aYcJet4A"class="small-btn"><span>Sign Up Here!</span></a><br><br><br>
            <p>A complete list of rules and detailed information can be found in the <a href=rules.pdf>rule book.</a><br><br>Meet our <a href=team.html>team!</a></p>
          </div></div>
          <div class="column"><div class="app-picture">
          <img src="https://media.discordapp.net/attachments/691110103926964274/691838190524563466/v1.png">
        </div></div>
        </div>

        <div class="app-text">
          <h2>Prizes</h2>
          <p>Thanks to our sponsors, we will be giving away over $5000 in prizes, both in the open and invitational round! If you would like to consider sponsoring us, please <a href="mailto:opho@physoly.tech">contact us!</a></p>
        </div>
        <div class="sponsors">
          <ul>
            <li><a href="https://www.wolfram.com/wolfram-one/"><img src="wolfram.PNG"/><p>Wolfram Research</p></li>
            <li><a href="https://www.awesomemath.org/academy/online-courses/#tab-id-4
                "><img src="awesome-math.png"/><p>AwesomeMath | Competitive Physics</p></li>
              <li><a href="https://www.physolymp.com/"><img src="physolymp.jpg"/><p>PhysOlymp</p></li>
            <li><a href="https://www.artofproblemsolving.com/"><img src="https://www.seekpng.com/png/detail/76-760875_aops-logo-2015-10-art-of-problem-solving.png"/><p>AoPS</p></li>
          </ul>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>

      <!-- <div class="social-icons">
        <ul>
          <li><a href="https://discord.gg/KCSP47"><img src="https://img.icons8.com/carbon-copy/50/000000/discord-logo.png"/></li>
        </ul>
      </div> -->
    </div>
    <script src="../problems/jquery-1.4.4.min.js"></script>
    <script src="../styling/particles.js"></script>
    <script src="../styling/main.js"></script>
  </body>
</html>