<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cover.css" />
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

    <title>Physics Olympiad | Resources</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161438140-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161438140-1');
    </script>

  </head>
  <body>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <a type="button" class="btn btn-primary" href="..">Back to Hub</a> <br><br>
        <div><h1 class="display-6">Resources</h1></div>
        <p class=lead>A list of original resources which may be useful for Physics Olympiad Preparation. If you wish to contribute, email <a href="mailto:hello@physoly.tech">us!</a></lead>
    </div>
  </div>
  <center>
    <h1 class="display-5">Handouts</h1>
  </center>
  <div class="card-group" style="margin-left:20px; margin-right: 20px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Thermodynamics</h5>
        <p class="card-text">Handout going over many common strategies when solving Olympiad Physics thermodynamics problems.</p>
        <p class="text-muted">Author: Kushal Thaman</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary disabled">Coming Soon</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lagrangian</h5>
        <p class="card-text">A helpful introduction into the Lagrangian formalism and how it can be applied to solve almost any physics problem.</p>
        <p class="text-muted">Author: Ashmit Dutta</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary disabled">Coming Soon</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Golden Ratio</h5>
        <p class="card-text">A neat collection, consisting of dozens of worked physics problems where the answer is the golden ratio. Problems are compiled from Morin, Purcell, Kalda, PhysicsBrawl, and Pathfinder.</p>
        <p class="text-muted">Author: QiLin Xue</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary disabled">Coming Soon</a>
      </div>
    </div>
  </div>
  <br><br><br>
  <center>
    <h1 class="display-5">Translations of National Olympiads</h1>
  </center>
  <div class="card-group" style="margin-left:20px; margin-right: 20px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">2020 Taiwan TST</h5>
        <p class="card-text">Four hour theoretical exam for the preparation of the 2020 Taiwan Asian Physics Olympiad team.</p>
        <p class="text-muted">Translator: Wayne Yan</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary disabled">Coming Soon</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">2020 Azerbaijan Physics Olympiad Finals</h5>
        <p class="card-text">A five-problem theoretical exam to select the 2020 Azerbaijan Physics team.</p>
        <p class="text-muted">Translator: Murad Bashirov</p>
      </div>
      <div class="card-footer">
        <a href="/static/archive/AzPhO-2020.pdf" class="btn btn-primary">View</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">2017-2018 Russian Physics Olympiad</h5>
        <p class="card-text">A five-problem theoretical exam for the grade 11 category for the Russian Physics Olympiad</p>
        <p class="text-muted">Translators: Vaibhav Raj and Kushal Thaman</p>
      </div>
      <div class="card-footer">
        <a href="/static/archive/RuPhO-2018.pdf" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="card-group" style="margin-left:20px; margin-right: 20px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">2018-2019 Russian Physics Olympiad</h5>
        <p class="card-text">A five-problem theoretical exam for the grade 10 category for the Russian Physics Olympiad</p>
        <p class="text-muted">Translators: Vaibhav Raj and Kushal Thaman</p>
      </div>
      <div class="card-footer">
        <a href="/static/archive/RuPhO-2019.pdf" class="btn btn-primary">View</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">2018 Chinese Physics Olympiad</h5>
        <p class="card-text">A six-problem theoretical exam for the selection of the 2018 Chinese National Physics team.  </p>
        <p class="text-muted">Translator: Jacob Nie</p>
      </div>
      <div class="card-footer">
        <a href="/static/archive/CPhO-2018.pdf" class="btn btn-primary">View</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">2017 Chinese Physics Olympiad</h5>
        <p class="card-text">A six-problem theoretical exam for the selection of the 2017 Chinese National Physics team.  </p>
        <p class="text-muted">Translator: Jacob Nie</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary disabled">Coming Soon</a>
      </div>
    </div>
  </div>



<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>
