<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cover.css" />
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

    <title>Physics Olympiad | Team</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161438140-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161438140-1');
    </script>

  </head>
  <body>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <a type="button" class="btn btn-primary" href="..">Back to Hub</a> <br><br>
        <div><h1 class="display-6">Meet the Team</h1></div>
        <p class=lead>The mission for Physoly is to create a community driven platform to make physics competitions more accessible for everyone, and to connect students from around the world. It is due to the contributions of people like you that this project exists and flourishes in the first place. If you would like to contribute, please fill out this <a href="https://forms.gle/MXpgZvUgDDMcy29u9">form.</a></p>
        </lead>
    </div>
  </div>
  <div style="margin-left:20%; margin-right: 20%;">
    <h1 class="display-5">The Main Team</h1>
  <div class="media">
    <img src="https://media.discordapp.net/attachments/524074426770391042/767517948175712266/unknown.png?width=100&height=100" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">QiLin Xue</h5>
      QiLin Xue is a freshman at the University of Toronto studying Engineering Science. As the owner of the Physics Olympiad Discord Server with over 3000 students, he enjoys building the online physics community and helping other students. He enjoys riddles and if you ever meet him in person or online, he challenges you to give him your hardest riddle.
    </div>
  </div>
  <div class="media">
    <img src="https://media.discordapp.net/attachments/668817787858452502/700387571921977384/20200216_083951.jpg?width=100&height=100" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Kushal Thaman</h5>
      Kushal Thaman is a senior from Chandigarh, India. He is an ardent physics and math enthusiast, and was in the top 1% students in India to qualify for the Indian National Physics Olympiad this year. He has also won various medals in other national and international physics and math contests, and is an NTSE scholar. When he's not doing physics or math, Kushal enjoys playing soccer, reading anything he gets his hands on, and playing his favourite piano pieces.
    </div>
  </div>
  <div class="media">
    <img src="https://media.discordapp.net/attachments/690964040209530960/700746852634460362/image0.jpg?width=100&height=100" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Ashmit Dutta</h5>
      Ashmit Dutta is a sophomore at Wayzata High School in Plymouth, MN. He started studying physics two years ago, and as of recent, has participated in several physics competitions and olympiads. Whenever he starts a physics problem, he has a nasty tendency to bash it out with the Lagrangian. Apart from physics, he enjoys math, coding, anime, and table tennis. He also loves doing buzzer games and is in his school science bowl club.
    </div>
  </div>
  <div class="media">
    <img src="https://media.discordapp.net/attachments/524074426770391042/708135405714669617/Photo_on_4-30-20_at_8.png?width=100&height=100" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Ben Oommen</h5>
      Ben Oommen is a senior from Dallas, Texas, and is the backend developer of this website and the OPhO contest portal. He especially enjoys applying computer science to physics. Over the summer, he worked at a university to model subpixel sensitivies on an exoplanet detector plane to help increase accuracy of these detections. In physics, his favorite area is electromagnetism. When he is not coding or doing physics, Ben loves working out and playing basketball.
    </div>
  </div>
  <div class="media">
    <img src="https://cdn.discordapp.com/attachments/754717835007361074/880154944399867914/daniel_yang_square.jpg" style="width:100px;height:100px;" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Daniel Yang</h5>
      Daniel Yang is a senior from Toronto, Canada, and is the developer of PhysBot 2.0. He enjoys studying math and physics, with an interest in designing and building experiments - he has led the Canadian IYPT team for the past two years. He has also participated in the IOAA and various other physics competitions. Aside from physics and math, he enjoys skiing, playing badminton, and reading fantasy novels.
    </div>
  </div>

  <br>
  <h1 class="display-5">All Contributors</h1>
  Additionally, we would like to thank the rest of these people for contributing to our projects, whether it is through writing handouts, making solution manuals, translating exams, writing contests, or even behind the scenes technical work. They are listed below by their preferred name, or online username, in no particular order:
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Arhaan Ahmad</li>
    <li class="list-group-item">Ameya Deshmukh</li>
    <li class="list-group-item">Alan Abraham</li>
    <li class="list-group-item">dbs27</li>
    <li class="list-group-item">Heramb Podar</li>
    <li class="list-group-item">Adithya Balachandran</li>
    <li class="list-group-item">Eddie Chen</li>
    <li class="list-group-item">Ethan Hu</li>
      <li class="list-group-item">Dumbrav˘a Victor-Ioan</li>
      <li class="list-group-item">Rashad</li>
      <li class="list-group-item">mathchampion1</li>
      <li class="list-group-item">Viraj Jayyam</li>
      <li class="list-group-item">Rael Kalda</li>
      <li class="list-group-item">Murad Bashirov</li>
      <li class="list-group-item">Wayne Yan</li>
      <li class="list-group-item">Vaibhav Raj</li>
      <li class="list-group-item">c_deng</li>
      <li class="list-group-item">Rakshit</li>
      <li class="list-group-item">Jonathan Qin</li>
      <li class="list-group-item">Dr. Branislav Kisačanin</li>
      <li class="list-group-item">Kye Shi</li>
      <li class="list-group-item">Wai Ching Choi</li>
      <li class="list-group-item">Ayon Ghosh</li>
      <li class="list-group-item">Tarun Agarwal</li>
      <li class="list-group-item">Evan Kim</li>
      <li class="list-group-item">Jai</li>
      <li class="list-group-item">Jacob Nie</li>
      <li class="list-group-item">Wai Ching Choi</li>
      <li class="list-group-item">Leonardo Wimmer</li>
      <li class="list-group-item">Taavet Kalda</li>
      <li class="list-group-item">Rishab Parthasarathy</li>
      <li class="list-group-item">Anant Lunia</li>
      <li class="list-group-item">Sumgato</li>
      <li class="list-group-item">Daniel Yang</li>
      <li class="list-group-item">Joshua S</li>
      <li class="list-group-item">Sean Chen</li>
      <li class="list-group-item">Yogendra Kumar Mishra</li>
      <li class="list-group-item">Varun Tokas</li>
  </ul>
  <br>
  <br>
    </div>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>
